<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee                              http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlLote</servlet-name>
        <servlet-class>controlador.controlLote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipoDoc</servlet-name>
        <servlet-class>controlador.ControlTipoDoc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlAcciones</servlet-name>
        <servlet-class>controlador.ControlAcciones</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlTipSan</servlet-name>
        <servlet-class>controlador.ControlTipSan</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPapeLote</servlet-name>
        <servlet-class>controlador.ControlPapeLote</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlUsuario</servlet-name>
        <servlet-class>controlador.ControlUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlRaza</servlet-name>
        <servlet-class>controlador.ControlRaza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlAnimal</servlet-name>
        <servlet-class>controlador.ControlAnimal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlLogin</servlet-name>
        <servlet-class>controlador.ControlLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlDatosAdmin</servlet-name>
        <servlet-class>controlador.ControlDatosAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlPerfil</servlet-name>
        <servlet-class>controlador.ControlPerfil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControlInterAnimal</servlet-name>
        <servlet-class>controlador.ControlInterAnimal</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlLote</servlet-name>
        <url-pattern>/controlLote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipoDoc</servlet-name>
        <url-pattern>/ControlTipoDoc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlAcciones</servlet-name>
        <url-pattern>/ControlAcciones</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlTipSan</servlet-name>
        <url-pattern>/ControlTipSan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPapeLote</servlet-name>
        <url-pattern>/ControlPapeLote</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlUsuario</servlet-name>
        <url-pattern>/ControlUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlRaza</servlet-name>
        <url-pattern>/ControlRaza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlAnimal</servlet-name>
        <url-pattern>/ControlAnimal</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlLogin</servlet-name>
        <url-pattern>/ControlLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlDatosAdmin</servlet-name>
        <url-pattern>/ControlDatosAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlPerfil</servlet-name>
        <url-pattern>/ControlPerfil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlInterAnimal</servlet-name>
        <url-pattern>/ControlInterAnimal</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
