* {
    margin: 0;
    padding: none;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Inter'; /* Nombre de la fuente */
    src: url('../componentes/letra/Inter-VariableFont_slnt,wght.ttf') format('truetype'); /* Ruta al archivo de fuente */
    font-weight: normal;
    font-style: normal;
}


:root {
    --tipo--fuente: "Inter";
    --tamaño--texto: 18px;
    --color--fondo: rgba(244, 244, 244, 1);
    --color--encabezado: rgba(7, 96, 16, 1);
    --color--blanco: #ffff;
    --boton-ingresar: rgba(70, 175, 81, 1);
    /* --fondo--contenedor: #10dfb223; */
    /* --fondo--contenedor:#0ba48328; */
    --fondo--contenedor:#ffffff57;
    --color--gris: rgba(232, 232, 232, 1);
    --color--gris__medio: rgb(181 181 181);
    --color--gris__oscuro: rgb(54, 54, 54);
    --color--gris--hover: rgb(187, 187, 187);
    --tamaño--titulos__grandes: 40px;
    --verde--opcaidad: rgba(7, 96, 16, 0.33);
    --color--amarillo: #87f192;
    --verde--lote: rgba(7, 96, 16, 0.74);
    --botones--interaccion: rgba(218, 218, 218, 1);
    --color--rojo_alertaBoton: rgba(145, 0, 0, 0.808);
    --fondo--cards : rgba(228, 226, 201, 1);
    --fondo--cardsHover : rgb(204, 202, 180);
    --tamaño--26: 24px;
    --padding: 10px;
    --margen: 10px;
}

    

body {
    font-family: var(--tipo--fuente);
    font-size: var(--tamaño--texto);
    background-color: var(--color--fondo);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

a{
    text-decoration: none;
}

.sombras--contenedor{
    box-shadow: 0px 0px 20px 1px rgba(0.2, 0.2, 0.2, 0.2);
}

.border--bottom{
    border-bottom: solid 1px var(--color--gris__medio);
    padding: 20px 0px;
}

.tamaño--100{
    width: 100px;
}

.negrita{
    font: 800;
}

.borde-1px{
    border: 1px solid var(--color--gris__oscuro);
}

.texto--inicio{
    text-align: start;
}

.padding-3px{
    padding: 5px;
}

.alinear-izquierda{
    display: flex;
    flex-direction: row;
}

.fondo--celeste{
    background-color: aliceblue;
} 

.with-160{
    width: 160px;
}

.negrita{
    font-weight: bold;
}

.fondo-rojo{
    background-color: rgb(231, 186, 186);
}

@media (max-width: 768px) {
    header{
        padding: 0 10px;
    }
    
}