/* aqui voy a trabajar algunos cambios que se deben agregar cuando se ingresa a la vista animal */
.cinta__animal{
    justify-content: space-evenly;
  }
  
  .cinta__opciones--animal{
  gap: 20px;
  }
  
  .opciones__buscador--input{
    border: none;
    background-color: transparent;
    outline: none;
    padding: 10px;
    width: 100%;
  }
  
  .opciones__buscador{
    display: flex;
    flex-direction: row;
    height: 44px;
    width: 220px;
    font-size: 14px;
    background-color: var(--botones--interaccion) ;
    justify-content: space-between;
    align-items: center;
    border: solid 1px var(--color--gris--hover);
    padding: 15px;
    border-radius: 10px;
    
  }
  
  .opciones__buscador:hover{
    background-color: var(--color--gris--hover);
    border:solid 1px var(--color--gris__oscuro);
  }
  
  
  .opciones__buscador--icono{
    background-color: transparent;
    border: none;
    font-size: 20px;
    padding: auto;
  }
  
  .modificar__animal{
    height: 44px;
    width: auto;
  }
  
  .modificar__animal--direccion{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 8px;
  
  }
  
  .modificar__animal--texto{
    font-style: normal;
    font-family: var(--tipo--fuente);
    font-size: 14px;
  }
  
  .modificar__animal--circulo{
    height: 25px;
    width: 25px;
    background-color: var(--color--rojo_alertaBoton) ;
    border: solid 1px #000000;
    border-radius: 100%;
  }
  
  .cinta__fechaCambios{
    font-size: 14px;
    flex-direction: column;
    display: flex;
    align-items: center;
    
  }
  
  .opciones__botones--espacio{
    gap: 24px;
    padding: 0px;
  }
  
  .cinta__linea--divisora{
    rotate: revert;
    height: 80px;
    width: 1px;
  }
  
  /* aqui se va a trabajar el estilo de la tabla donde se van a encontrar los animales */
  /* Estilos generales para la tabla */
  
  .datos__animal{
      font-size: 16px;
  }
  
  .centrar--texto{
    text-align: center;
  }

  .border--bottom{
    padding-bottom: 20px;
  }
  
  .input--peso{
    width: 100px;
    margin: 0px;
    
  }
  
  .titulo--caja{
    padding: 30px 0px;
    font-size: 44px;
  }
