

/* aqui se va a trabajar los estilos de la vista de los lotes  */

.fondo__cinta{
  background-color: var(--color--gris);
}

.cinta__opciones{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: auto;
  padding: 10px;
}

.cinta__opciones--titulo{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    gap: 50px;
}

.cinta__logo{
  height: 90px;
  width: 90px;
}

.cinta__Titulo{
  font-size: var(--tamaño--titulos__grandes);
  font-weight: 500 ;
}

.linea__cinta{
  height: 12px;
  background-color: var(--verde--opcaidad);
  margin: 0;
}

.cinta__iconos{
  color: #000000;
  
}

/* aqui voy a trabajar el titulo de lo que se ve y el contenido que lleve  */

.Tipo__vista{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 10px auto;
}

.Tipo__vista--punto{
  border-radius: 100%;
  background-color: rgba(255, 178, 15, 1);
  height: 12px;
  width: 12px;
}

/* aqui esta la linea de las separaciones de los lotes*/

.linea__datos{
  width: 90%;
  margin: auto;
}

/* datos que tiene el lote  */

.Datos__lote{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin: 25px auto;
  text-decoration: none;
  color: #000;
}

.boton__lote{
  height: 50px;
  width: 100px;
  background-color: var(--verde--lote);
  font-size: 20px;
}

.num__lote{
  display: flex;
  gap: 20px;
}

.checkbox{
  width: 20px;
  
}

.checkbox:checked{
  margin: auto 0;
  height: 20px;
  appearance: none;
  border: solid 1px black;
  border-radius: 5px;
  background-color:var(--color--rojo_alertaBoton);
}

.Datos__lote--numero{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}

.Datos__lote--texto{
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-size: 14px;
}

.opciones__botones{
  display: flex;
  flex-direction: row;
  gap: 34px;
  list-style: none;
}

.opciones__botones--boton,.opciones__botones--pendiente {
  height: 44px;
  width: 44px;
  font-size: 24px;
  padding: auto;
  border-radius: 10px;
  border:solid 1px #adadad;
  background-color:var(--botones--interaccion) ;
  transition: 0.5s;
}

.opciones__botones--boton:hover{
  background-color: var(--color--gris--hover);
}

.lista{
  display: none;
}

@media (max-width: 768px){
  /* inicio con la @media de la vista lote  */
  .cinta__logo, .opciones__botones, .Datos__lote--tipo{
    display: none;
  }
  
  .Datos__lote--numero{
    gap: 20px;
  }
  .Datos__lote--texto2{
    width: 140px;
    font-weight: 600;
    color: var(--color--encabezado);
  }
}

@media (max-width: 1310px){
  /* @media para movil de la vista animales  */
  .opciones__botones--espacio, .animal--tablet{
    display: none;
  }
  .lista{
    align-items: center;
    display: flex;
    justify-content: center;
    
  }
}

@media (max-width: 680px){
  .animal--movil, .opciones__buscador, .linea--celular{
    display: none;
  }
  .cinta__opciones--animal{
    gap: 10px;
  }
}


